@import 'variables';

/* Padrão de css reset */
 
html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, small, strong, sub,
b, dd, ol, ul, li,
footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
ol, ul {
	list-style: none;
}


/* Ramon CSS */

/* 
BEM - Bloco - Elemento - Modificador

B -> .menu 
E -> .menu__title
M -> .menu__title-blue

*/

.menu {
    background-color: $color-black;
    color: $color-white;
    display: flex;
    width: 100%;
    padding: 0 20px;
    height: 80px;

    &__nav {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      button {
        @include button-primary;
      }
      
    }
    
    &__nav-items {
        gap: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

.herosection {
    background-color: $color-grey;
    color: $color-white;

    &__dimension{

      background: url('./images/undraw_react_y7wq.svg');
      background-size: 50%;
      background-position: center right;
      background-repeat: no-repeat;

      display: flex;
      height: 80vh;
      width: 100%;
      
      justify-content: start;
      padding: 0 10%;
      align-items: center;

      h2 {
        @include font-size-h2;
      }
    }
    
    &__mouse {

      display: flex;
      justify-content: center;
      align-items: center;
      
      width: 100%;
      height: 30px;
      
      img {
        width: 30px;
        height: 30px;
        padding-bottom: 30px;
        filter: invert(100%);
      }

     }
}

.aboutme{
  width: 100%;
  height: 60vh;
  background-color: $color-light-gray;
  
  &__dimension {
    padding: 40px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: $color-white;
    gap: 24px;

    div > img {
      width: 300px;
      height: 300px;
    }

    div:nth-child(2){
      width: 500px;
    }

    h3{
      @include font-size-h3
    }
    p {
      font-size: 14px;
      padding-bottom: 20px ;
      line-height: 1.5em;
    }
   .button__wrapper{
     margin-top: 20px;
     gap: 16px;
     
   }
    .button-primary {
       @include button-primary;
       margin-right: 20px;
       margin-bottom: 40px;
      }
    
  }

}
.projects {
  width: 100%;
  height: 80vh;
  padding-top:70px;
  background-color: $color-grey;
  color:$color-white;
  h2{
    @include font-size-h2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
  

  &__dimension {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 800px;


    &-container {
      display: flex;
      justify-content: center;
      align-items:center;
      flex-direction: column;
      width: 200px;
      height: 150px;
      background-color:#47474B;
      border-radius: 4px;

      span {
        font-size: 12px;
        padding: 15px;
        font-weight: bold
      }

      .button__wrapper {
        i {
          font-size: 10px;
        }
      }
      
    }
    
    button{
      @include button-secondary;
    }
  }
}

.habilidades {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 80vh;
  padding-top:70px;
  background-color: $color-light-gray;
  color:$color-white;

  &__dimension {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 10%;
    max-width: 800px;
    
    &-container {
      
      width: 100%;
      margin-left: -250px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      h3 {
          @include font-size-h3
      }
      p{
        width: 400px;
        line-height: 1.5em;
      }
    }
    &-icons{
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: flex-end;
      flex-wrap: wrap;


      div{
        background-color: $color-grey ;
        display: flex;
        justify-content: center;
        align-items:center;
        flex-direction: column;
        width: 85px;
        height: 85px;
        margin: 15px;
        border-radius: 10px;
        
        i {
          font-size: 50px;
          color:#8257E5; 
          
          
        }

        &:hover {
         i {
          color: #2222FF;
          font-size: 40px;
         } 
          border-bottom: 5px solid #2222FF;   
         }
        

      }
    }
  }
}

.footer {
  width: 100%;
  height: 20vh;
  background: linear-gradient(70deg, (#2222FF), (#8257E5));;


  &__dimension {
    display: flex;
    justify-content: center;
    align-items: center;
    i{
      margin: 0 40px;
      font-size: 30px;
      color: $color-white;
    }
    a {
      margin-top: 40px;
    }
  }
}