@charset "UTF-8";
/* Padrão de css reset */
html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, small, strong, sub,
b, dd, ol, ul, li,
footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

ol, ul {
  list-style: none;
}

/* Ramon CSS */
/* 
BEM - Bloco - Elemento - Modificador

B -> .menu 
E -> .menu__title
M -> .menu__title-blue

*/
.menu {
  background-color: #000000;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0 20px;
  height: 80px;
}

.menu__nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__nav button {
  background: linear-gradient(100deg, #2222FF, #8257E5);
  border-radius: 4px;
  border: 0px;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.menu__nav button:hover {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.menu__nav-items {
  gap: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.herosection {
  background-color: #202024;
  color: #ffffff;
}

.herosection__dimension {
  background: url("./images/undraw_react_y7wq.svg");
  background-size: 50%;
  background-position: center right;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80vh;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 0 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.herosection__dimension h2 {
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
  line-height: 40px;
  font-weight: bold;
}

.herosection__mouse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 30px;
}

.herosection__mouse img {
  width: 30px;
  height: 30px;
  padding-bottom: 30px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.aboutme {
  width: 100%;
  height: 60vh;
  background-color: #202024d2;
}

.aboutme__dimension {
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #ffffff;
  gap: 24px;
}

.aboutme__dimension div > img {
  width: 300px;
  height: 300px;
}

.aboutme__dimension div:nth-child(2) {
  width: 500px;
}

.aboutme__dimension h3 {
  font-size: 23px;
  font-family: 'Roboto', sans-serif;
  line-height: 40px;
  font-weight: bold;
  padding-bottom: 20px;
}

.aboutme__dimension p {
  font-size: 14px;
  padding-bottom: 20px;
  line-height: 1.5em;
}

.aboutme__dimension .button__wrapper {
  margin-top: 20px;
  gap: 16px;
}

.aboutme__dimension .button-primary {
  background: linear-gradient(100deg, #2222FF, #8257E5);
  border-radius: 4px;
  border: 0px;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
  margin-right: 20px;
  margin-bottom: 40px;
}

.aboutme__dimension .button-primary:hover {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.projects {
  width: 100%;
  height: 80vh;
  padding-top: 70px;
  background-color: #202024;
  color: #ffffff;
}

.projects h2 {
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
  line-height: 40px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.projects__dimension {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
  max-width: 800px;
}

.projects__dimension-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px;
  height: 150px;
  background-color: #47474B;
  border-radius: 4px;
}

.projects__dimension-container span {
  font-size: 12px;
  padding: 15px;
  font-weight: bold;
}

.projects__dimension-container .button__wrapper i {
  font-size: 10px;
}

.projects__dimension button {
  font-size: 14px;
  border: 0px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #8257E5;
  color: #fff;
  border-radius: 4px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.projects__dimension button:hover {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.habilidades {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: 80vh;
  padding-top: 70px;
  background-color: #202024d2;
  color: #ffffff;
}

.habilidades__dimension {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10%;
  max-width: 800px;
}

.habilidades__dimension-container {
  width: 100%;
  margin-left: -250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.habilidades__dimension-container h3 {
  font-size: 23px;
  font-family: 'Roboto', sans-serif;
  line-height: 40px;
  font-weight: bold;
  padding-bottom: 20px;
}

.habilidades__dimension-container p {
  width: 400px;
  line-height: 1.5em;
}

.habilidades__dimension-icons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  cursor: pointer;
}

.habilidades__dimension-icons div {
  background-color: #202024;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 85px;
  height: 85px;
  margin: 15px;
  border-radius: 10px;
}

.habilidades__dimension-icons div i {
  font-size: 50px;
  color: #8257E5;
}

.habilidades__dimension-icons div:hover {
  border-bottom: 5px solid #2222FF;
}

.habilidades__dimension-icons div:hover i {
  color: #2222FF;
  font-size: 40px;
}

.footer {
  width: 100%;
  height: 20vh;
  background: linear-gradient(70deg, #2222FF, #8257E5);
}

.footer__dimension {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__dimension i {
  margin: 0 40px;
  font-size: 30px;
  color: #ffffff;
}

.footer__dimension a {
  margin-top: 40px;
}

.desativado {
  display: none;
}

.ativado {
  display: block;
}

.cssStyle {
  background: linear-gradient(70deg, #47474B, #264DE4);
}

.htmlStyle {
  background: linear-gradient(70deg, #47474B, #E44D26);
}

.jsStyle {
  background: linear-gradient(70deg, #47474B, #EFC725);
}

.bootStyle {
  background: linear-gradient(70deg, #47474B, #800AF9);
}

.sassStyle {
  background: linear-gradient(70deg, #47474B, #CD669A);
}

.reactStyle {
  background: linear-gradient(70deg, #47474B, #00D8FF);
}

.nodeStyle {
  background: linear-gradient(70deg, #47474B, #54A245);
}

.javaStyle {
  background: linear-gradient(70deg, #47474B, #EA2E2F);
}

.grayStyle {
  background-color: #47474B;
}
/*# sourceMappingURL=style.css.map */